Repository lig/mnj: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: pipenv run isort
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: pipenv run mypy
        language: system
        types: [python]
        exclude: >
          (?x)^(
            tests/
          )
  - repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: flake8

🔖 Release mnj 0.3.0
  setup.py
Due: isort, mypy

🙈 Add build dirs to `.gitignore`
  .gitignore
Due: none

🚧 Most of the core works and shines. Need to fix inheritance.
  Pipfile
  Pipfile.lock
  mnj/__init__.py
  mnj/core/__init__.py
  mnj/core/base.py
  mnj/core/client.py
  mnj/core/document.py
  mnj/core/exceptions.py
  mnj/core/query.py
  mnj/core/registry.py
  mnj/core/types.py
  mnj/document/__init__.py
  mnj/document/base.py
  mnj/document/document.py
  mnj/document/query.py
  mnj/document/registry.py
  mnj/exceptions.py
  setup.py
  tests/Dockerfile
  tests/conftest.py
  tests/functional/core/test_client.py
  tests/functional/core/test_document.py
  tests/functional/core/test_query.py
  tox.ini
Due: isort, mypy

Test core functionality
  nj/core/document.py
  nj/core/registry.py
  tox.ini
Due: isort, mypy

Bump version to `1.0.0-alpha-1`
  setup.py
Due: isort, mypy

Allow multiple subclasses to utilize the same collection
  nj/core/registry.py
  tests/functional/core/test_document.py
Due: isort, mypy

🐳 Use newest Fedora base for tests
  tests/Dockerfile
  tests/docker-compose.yml
Due: none

♻ Reintegrate query operators
  nj/__init__.py
  nj/compat/regex.py
  nj/core/__init__.py
  nj/core/base.py
  nj/core/query.py
  nj/core/types.py
  nj/operators/__init__.py
  nj/operators/base.py
  nj/operators/exceptions.py
  nj/operators/query/__init__.py
  nj/operators/query/array.py
  nj/operators/query/bitwise.py
  nj/operators/query/comparison.py
  nj/operators/query/element.py
  nj/operators/query/evaluation.py
  nj/operators/query/logical.py
  tests/conftest.py
  tests/functional/sample_queries/test_simple_queries.py
  tox.ini
Due: isort, mypy

✅ Reintegrate all tests
  nj/__init__.py
  nj/core/registry.py
  nj/operators/query/element.py
  tests/unit/core/test_base.py
  tests/unit/core/test_q.py
  tests/unit/document/test_document.py
  tests/unit/document/test_registry.py
  tests/unit/operators/query/test_array.py
  tests/unit/operators/query/test_bitwise.py
  tests/unit/operators/query/test_comparison.py
  tests/unit/operators/query/test_element.py
  tests/unit/operators/query/test_evaluation.py
  tests/unit/operators/query/test_logical.py
  tox.ini
Due: isort, mypy

🔖 Bump version to 1.0.0a2
  setup.py
Due: isort, mypy

🐛 Fix `Query.__getattribute__` crash
  nj/core/document.py
  nj/core/query.py
Due: isort, mypy

📦 Add all needed packages in `setup.py`
  setup.py
Due: isort, mypy

🔖 Bump version to 1.0.0a3
  setup.py
Due: isort, mypy

✅ Blend all tests unders `./tests` dir
  tests/conftest.py
  tests/core/test_base.py
  tests/core/test_client.py
  tests/core/test_document.py
  tests/core/test_q.py
  tests/core/test_query.py
  tests/query/test_array.py
  tests/query/test_bitwise.py
  tests/query/test_comparison.py
  tests/query/test_element.py
  tests/query/test_evaluation.py
  tests/query/test_logical.py
  tests/sample_queries/test_simple_queries.py
  tests/sample_queries/test_various_queries.py
  tox.ini
Due: isort

📝 Update `README.md`
  README.md
Due: none

💄 Update mnj logo
  README.md
  logo-150.png
  logo150.png
Due: none

🎨 Update logo
  README.md
  logo-150.png
  logo-200.png
Due: none

Update README
  README.md
Due: none

Update `pyproject.toml`
  pyproject.toml
  setup.cfg
Due: none
